html,body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}


body{
    background-color: rgb(10 10 10);
    display: grid;
    place-items: center;
}


#wrapper{
    aspect-ratio: 1.618;
    width: 90vmin;
    position: relative;
}


#wrapper >.shapes{
    height: 30%;
    width: 30%;
    background-color: rgba(255, 255, 255, 25%);
    position: absolute;
    transition: left,top,height,width,border-radius;
    transition-duration: 750ms ;
    transition-timing-function: ease-in-out ;
}


#wrapper[data-roundness='1'] >.shapes{
    border-radius: 6rem;
}


#wrapper[data-roundness='2'] >.shapes{
    border-radius: 0rem;
}


#wrapper >.shapes:nth-child(1){
    background-color: #0a9396;
}



#wrapper[data-configuration='1'] >.shapes:nth-child(1){
    left: 0%;
    top: 0;
    height: 50%;
    width: 20%;
}


#wrapper[data-roundness='4'] >.shapes:nth-child(1){
    border-bottom-left-radius: 10rem;
}


#wrapper[data-configuration='2'] >.shapes:nth-child(1){
    left: 25%;
    top: 20%;
    height: 80%;
    width: 15%;
}



#wrapper >.shapes:nth-child(2){
    background-color: #94D2BD;
}



#wrapper[data-configuration='1'] >.shapes:nth-child(2){
    left: 20%;
    top: 0;
    height: 50%;
    width: 30%;
}



#wrapper[data-configuration='2'] >.shapes:nth-child(2){
    left: 40%;
    top: 20%;
    height: 50%;
    width: 10%;
}



#wrapper >.shapes:nth-child(3){
    background-color: #E9D8A6;
}



#wrapper[data-configuration='1'] >.shapes:nth-child(3){
    left: 50%;
    top: 0;
    height: 100%;
    width: 50%;
}



#wrapper[data-configuration='2'] >.shapes:nth-child(3){
    left: 50%;
    top: 0;
    height: 100%;
    width: 25%;
}



#wrapper[data-roundness='4'] >.shapes:nth-child(3){
    border-top-right-radius: 12rem;
}



#wrapper >.shapes:nth-child(4){
    background-color: #EE9B00;
}



#wrapper[data-configuration='1'] >.shapes:nth-child(4){
    left: 0%;
    top: 50%;
    height: 50%;
    width: 30%;
}



#wrapper[data-configuration='2'] >.shapes:nth-child(4){
    left: 0%;
    top: 0%;
    height: 50%;
    width: 10%;
}

#wrapper[data-roundness='4'] >.shapes:nth-child(4){
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
}


#wrapper >.shapes:nth-child(5){
    background-color: #CA6702;
}



#wrapper[data-configuration='1'] >.shapes:nth-child(5){
    left: 30%;
    top: 50%;
    height: 50%;
    width: 20%;
}



#wrapper[data-configuration='2'] >.shapes:nth-child(5){
    left: 10%;
    top: 0%;
    height: 70%;
    width: 15%;
}



#wrapper >.shapes:nth-child(6){
    background-color: #BB3E03;
}



#wrapper[data-configuration='1'] >.shapes:nth-child(6){
    left: 70%;
    top: 50%;
    height: 50%;
    width: 30%;
}



#wrapper[data-configuration='2'] >.shapes:nth-child(6){
    left: 75%;
    top: 10%;
    height: 80%;
    width: 15%;
}



#wrapper >.shapes:nth-child(7){
    background-color: #AE2012;
}



#wrapper[data-configuration='1'] >.shapes:nth-child(7){
    left: 85%;
    top: 75%;
    height: 25%;
    width: 15%;
}



#wrapper[data-configuration='2'] >.shapes:nth-child(7){
    left: 90%;
    top: 40%;
    height: 60%;
    width: 10%;
}


#wrapper[data-roundness='4'] >.shapes:nth-child(7){
    border-top-left-radius: 10rem;
}
